#imagenes {
    display: flex; /* Crea un contenedor flexible para las imágenes */
    justify-content: center; /* Centra las imágenes horizontalmente dentro del contenedor */
}

.large-image {
    flex: 1; /* Permite que las imágenes se expandan para llenar el espacio disponible */
    max-width: 33%; /* Hace que cada imagen ocupe un tercio del ancho del contenedor */
    height: auto; /* Mantiene la proporción de aspecto de las imágenes */
}

#imagenes {
    margin-top: 120px;
}

.large-image {
    margin-right: 20px;
}
.Color-Filas{
    background-color: #333333;
    color: #ddd;
}
.fuente{
    font-family: 'poppins'
}
.Titulo{
    font-family: 'poppins';
    font-size: 3rem;
    text-transform: uppercase;
    letter-spacing: 0px;
    position: relative;
    text-shadow: 2px 2px black;
}
.linea{
    border-bottom-color: black;
}
<style>
    /* Estilos para el encabezado */
    h1 {
        text-align: center;
        margin-top: 20px;
    }

    /* Estilos para el contenedor del mapa */
    #map-container {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 20px auto;
    }
    #map {
        width: 100%;
        height: 600px;
    }

    /* Estilos para la sección de imágenes */
    #imagenes {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        margin-top: 20px;
    }
    .large-image {
        margin-right: 10px;
        border: 1px solid #ddd;
        border-radius: 4px;
    }

    /* Estilos para la sección de preguntas y respuestas */
    #relaves-info {
        margin-top: 20px;
    }
    #relaves-info h2 {
        text-align: center;
        margin-bottom: 10px;
    }
    #relaves-info li {
        margin-bottom: 20px;
        cursor: pointer;
        border: 1px solid #ddd;
        border-radius: 4px;
        padding: 10px;
    }
    #relaves-info h4 {
        margin-bottom: 5px;
    }
    #relaves-info p {
        display: none;
    }

    /* Estilos para las imágenes dentro de las preguntas y respuestas */
    .medium-image {
        width: 100%;
        margin-top: 10px;
    }
</style>



*{
    margin: 0;
    padding: 0;
}

@keyframes cambiar{
    0%{background-position: 0 50%;}
    50%{background-position: 100% 50%;}
    100%{background-position: 0 50%;}
}